node_modules/
.vscode/
coverage/
dist/

tmp/uploads/*
!tmp/uploads/.gitkeep

logs/*
!logs/.gitkeep

.env
ormconfig.json

pgdata/

.idea/

keys/

# exclude everything
tmp/*

# exception to the rule
!tmp/.gitkeep

.env.dev

.env.local

ormconfig.dev.json

ormconfig.local.json

.env.copy.dev

.env.copy.local

*.sh

/.env-dev
/.env-local
/.env-sync
/ormconfig-local.json
/ormconfig-staging.json
/ormconfig-sync.json

google-credentials.json
